//! **************************************************************************
// Written by: Map P.15xf on Sun Jul 19 23:02:02 2015
//! **************************************************************************

SCHEMATIC START;
COMP "PC_Data" LOCATE = SITE "M15" LEVEL 1;
COMP "KC" LOCATE = SITE "T17" LEVEL 1;
COMP "KAC" LOCATE = SITE "R16" LEVEL 1;
COMP "KCC" LOCATE = SITE "P17" LEVEL 1;
COMP "KSC" LOCATE = SITE "T18" LEVEL 1;
COMP "PC_Write" LOCATE = SITE "L17" LEVEL 1;
COMP "sw0" LOCATE = SITE "R15" LEVEL 1;
COMP "sw6" LOCATE = SITE "N17" LEVEL 1;
COMP "sw7" LOCATE = SITE "R17" LEVEL 1;
COMP "halt_led" LOCATE = SITE "J13" LEVEL 1;
COMP "led_anodes<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "led_anodes<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "led_anodes<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "led_anodes<3>" LOCATE = SITE "F15" LEVEL 1;
COMP "green_out<1>" LOCATE = SITE "N8" LEVEL 1;
COMP "green_out<2>" LOCATE = SITE "P8" LEVEL 1;
COMP "green_out<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "K15" LEVEL 1;
COMP "leds<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "leds<4>" LOCATE = SITE "E16" LEVEL 1;
COMP "leds<5>" LOCATE = SITE "P16" LEVEL 1;
COMP "leds<6>" LOCATE = SITE "E4" LEVEL 1;
COMP "leds<7>" LOCATE = SITE "P4" LEVEL 1;
COMP "pc_dash" LOCATE = SITE "L15" LEVEL 1;
COMP "led_segs<0>" LOCATE = SITE "L18" LEVEL 1;
COMP "led_segs<1>" LOCATE = SITE "F18" LEVEL 1;
COMP "led_segs<2>" LOCATE = SITE "D17" LEVEL 1;
COMP "led_segs<3>" LOCATE = SITE "D16" LEVEL 1;
COMP "led_segs<4>" LOCATE = SITE "G14" LEVEL 1;
COMP "led_segs<5>" LOCATE = SITE "J17" LEVEL 1;
COMP "led_segs<6>" LOCATE = SITE "H14" LEVEL 1;
COMP "led_segs<7>" LOCATE = SITE "C17" LEVEL 1;
COMP "red_out" LOCATE = SITE "T8" LEVEL 1;
COMP "clk50_in" LOCATE = SITE "B8" LEVEL 1;
COMP "Load_button" LOCATE = SITE "B18" LEVEL 1;
COMP "vs_out" LOCATE = SITE "U3" LEVEL 1;
COMP "disp_sw<0>" LOCATE = SITE "M13" LEVEL 1;
COMP "disp_sw<1>" LOCATE = SITE "R18" LEVEL 1;
COMP "disp_sw<2>" LOCATE = SITE "K17" LEVEL 1;
COMP "blue_out" LOCATE = SITE "U5" LEVEL 1;
COMP "store_read" LOCATE = SITE "M14" LEVEL 1;
COMP "pc_sync" LOCATE = SITE "K12" LEVEL 1;
COMP "hs_out" LOCATE = SITE "T4" LEVEL 1;
COMP "MCP_S_CLK" LOCATE = SITE "H16" LEVEL 1;
COMP "MCP_T_CLK" LOCATE = SITE "J12" LEVEL 1;
COMP "hooter" LOCATE = SITE "M18" LEVEL 1;
COMP "MCP_S_CS" LOCATE = SITE "G15" LEVEL 1;
COMP "MCP_T_CS" LOCATE = SITE "H15" LEVEL 1;
COMP "MCP_S_SI" LOCATE = SITE "J16" LEVEL 1;
COMP "MCP_S_SO" LOCATE = SITE "G13" LEVEL 1;
COMP "MCP_T_SI" LOCATE = SITE "F14" LEVEL 1;
COMP "MCP_T_SO" LOCATE = SITE "G16" LEVEL 1;
COMP "PC_BUSY" LOCATE = SITE "K13" LEVEL 1;
NET "clk50_in_BUFGP/IBUFG" BEL "clk50_in_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

